@tailwind base;
@tailwind components;
@tailwind utilities;

.toast_item {
  animation: toastSlide 0.6s 1;
}

@keyframes toastSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
